/* .gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  justify-items: center;
  align-items: center;
  width: 80rem;
  margin: 0 auto;
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.gallery img {
  width: 20rem; 
  height: 24rem;
  object-fit: cover;
  cursor: pointer;
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.full-screen-image {
  max-width: 90%;
  max-height: 90%;
} */

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three columns */
  gap: 20px; /* Gap between images */
  justify-items: center;
  align-items: center;
  width: 80rem;
  margin: 0 auto;
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.gallery img {
  width: 20rem; /* Adjust the image size as needed */
  height: 24rem;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1); /* Increase the size on hover if desired */
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.full-screen-image {
  max-width: 90%;
  max-height: 90%;
  transition: transform 0.3s ease;
}

.full-screen-image.selected-image {
  transform: scale(1.4);
}
