.model-container {
  cursor: pointer;
  background-color: rgb(240, 232, 221);
  width: 100%;
  max-width: 36rem;
  height: 30rem;
  margin-bottom: 3rem;
}

.model-box {
  /* padding-left: 9rem; */
  /* background-color: red; */
}
